<div class="container">
  <h2>My Page</h2>
  <div class="row">
    <div class="col-md-4">
      <h3><%= @user.name %></h3>
      <p class="introduction"><%= @user.introduction %></p>
    </div>
    <div class="col-md-4">
      <%= link_to "プロフィールの編集", edit_user_path(@user), class: "btn btn-primary" %>
    </div>
  </div>
</div>