<!--$('.project-box-wrapper').append("<div class='project-box'><%= @post.body %></div>");-->
<!--$('.js-form')[0].reset();-->

$("#posts_area").html("<%= j(render 'index', { posts: @posts }) %>")
$("js-form").val('')