// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.post {
  height: 300px;
  width: 700px;
}

textarea {
  background: #CCCCFF;
  border-radius: 5px;
}

.btn {
  margin: 5px;
  display: right;
}

td {
  text-align: center;
  background: #339999;
}
.profile_image {
  border-radius: 50%;
      width: 50px;
      height: 50px;
}
.new-posts {
  text-align: center;
}
.item_image_btn{
    display: none;
}

#img_field {
  font-size: 15px;
  margin: 0 auto;
  color: white;
  background-color: blue;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor : pointer;
}